header{
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}

header h1 { 
    font-size: 50px;
    font-weight: bolder;
    color: slategray
}

header nav ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0; 
    
}

header nav ul li {
    font-size: 25px;
    color: darkslategray;
    
}

nav ul a {
    text-decoration: none;
}

/* CSS for home page image and header */

.home-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-bottom: 50px;
}

.home-image h2 {
    font-size: 25px;
    color: darkslategray;
}

.link-recipe{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.center-image {
    width: 600px;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
}

/* CSS for recipe page */

.recipe-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    margin: 40px auto;
    }

.row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.row img {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    object-fit: cover;
}


/* CSS for Form  */

.container {
    display: flex;
    flex-wrap: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 25px;
    color: darkslategray;
    margin: auto;
}

form {
    margin: auto;
    padding: 25px 35px;
    border-radius: 8px;
    width: 500px;
}

label{
    margin-top: 10px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: darkslategray;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.checkbox {
    margin-top: 15px;
}

button {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: lightgrey;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    
}

footer {
    text-align: center;
    padding: 20px 0;
    color: darkslategray;
    position: relative;
    bottom: 0;
    width: 100%;
}



